

<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css'>
    <meta charset="utf-8">
    <title> OMG Shoes! </title>
</head>
<body>
    {% block header %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        <div class="row">
            {% block page %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
