{% extends 'base.html.twig' %}

    {% block page %}
    <h2>Add a new store to the database</h2>
    <form class action="/add/store" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <button class="btn btn-success" type="submit"> Add </button>
    </form>
    <br>
    <br>
    <h3>List of stores:</h3>
    {% if stores is not empty %}
        <ul>
        {% for store in stores %}
        <li><a href="/store/{{store.getId}}">{{ store.getName }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
